body{
    background-color: var(--secundary-color);
    font-family: var(--font);
}


.grid{
    display: grid;
    grid-template-columns: 4.5fr;
    grid-template-rows: auto auto 40px;
    grid-template-areas: 
    "info"
    "links"
    "footer";
    
}



/*Section info profile*/
.info--perfil{
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.info--perfil-content-imagem{
    width: 40%;
}
.info--perfil-imagem{
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}
.info--perfil-nome{
    font-size: 18px;
}
.info--perfil-cargo{
    font-size: 14px;
}
.info--perfil-list-contato{
    margin: 5px 0px;
}
.contato-item-link{
    color: var(--primary-color);
    font-size: 14px;
}







/*Footer*/
.footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 12px;
}